a {
  text-decoration: none;
}

nav {
  background-color: #172029;
  color: white;
  padding: 1em;
}

.nav-item .active {
  text-decoration: underline;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.align-right {
  margin-left: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.search-container {
  margin-right: 1em;
}

.margin-profile{
  font-size: 2.5em;
  margin-top: 0.05em;
}