.fondo {
  background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/06/rick-morty-2381623.jpg?tf=3840x");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
