<div class="container">
    <div class="row">
        <div class="col cl-text mx-3 text-center">
            <h3>Bienvenido a la app de Rick & Morty</h3>
            <div class="col mt-5">
                <h5>¿Quieres saber más sobre los personajes? <br> <small>Clica en el primer botón</small></h5>
                <h5>¿Quieres saber más sobre nosotros? <br> <small>Clica en el segundo botón</small></h5>
            </div>
            <div class="col d-flex cl-btn justify-content-center">
                <div routerLink="/home/characters" class="btn btn-secondary mx-3 mt-5" tabindex="0">
                    Personajes</div>
                <div routerLink="/home/about" class="btn btn-secondary mx-3 mt-5" tabindex="0">Sobre nosotros</div>
            </div>
        </div>
        <div class="col fondo"></div>
    </div>
</div>